@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    color: #2712ab;
    font-family: 'lato', sans-serif;
    /*background-image: url(../images/guitar-closeup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    padding: 0;
    border: 0;
    margin: 0;

    /*position: relative;*/
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    border: 0;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    border: 0;   
    margin: 0;
}

/*---------------------------------------------brand-container*/

.brand-container {
    background: url(../images/ejm-logo.jpeg) center center / contain;
    height: 100px;
    text-align: center;
}

.brand-container > .brand-container-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    border: 5px solid #2712ab;
    margin: 0;
    border-radius: 50%;
}

.brand-container-circle:hover {
    background: #daa520;
    border: 5px solid #daa520;
}

.brand-container .brand-container-circle-logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*---------------------------------------------nav-links*/

nav > ul {
    text-align: center;
    font-size: 175%;
    text-transform: uppercase;
    background: #efefef;
    padding: 0;
    border-top: 5px solid #2712ab;
    border-bottom: 5px solid #2712ab;
    margin: 0;
}

nav li {
    display: inline-block;
    letter-spacing: 4px;
    margin: 5px 15px 5px 15px;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: #2712ab;
}

nav a:hover {
    text-decoration: none;
    color: #daa520;
}

.active {
    color: #daa520;
}

/*---------------------------------------------social-media*/

.social-media > ul {
    text-align: center;
    font-size: 30px;
    background: #efefef;
    padding: 0;
    border-bottom: 5px solid #2712ab;
    margin: 0;
}

.social-media li {
    display: inline-block;
    margin: 5px 60px 5px 60px;
    vertical-align: middle;
}

.social-media-icon i {
    color: #2712ab;

}
.social-media-icon i:hover {
    color: #daa520;
}

/*---------------------------------------------container-fluid*/

.container-fluid {
    padding: 0;
    margin: 0;
}

/*---------------------------------------------guitar-image-welcome*/

.guitar-image {
    background-image: url(../images/guitar-closeup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: static;
    top: 0;
    left: 0;
}

.guitar-image-welcome {
    padding: 100px;
    color: #fff;
}

/*Opaque overlay Code copied from 'Code Institute: Updating Our Callout' lesson source code*/
.guitar-image-opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*---------------------------------------------callout-signup-jumbotron*/

.callout-signup-jumbotron {
    background-color: #ff6961;
    border-top: 5px solid #2712ab;
    border-bottom: 5px solid #2712ab;

    position: static;
    top: 520px;
    left: 0;
}

.callout-signup-jumbotron > .display-4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.callout-signup-jumbotron .btn-primary {
    color: #2712ab;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    background: #efefef;
    border: 5px solid #2712ab;
    margin-bottom: 20px;

    position: relative;
    top: 66%;
    left: 40%;
}

.callout-signup-jumbotron .btn-primary:hover {
    color: #daa520;
    background-color: #777;
    border: 5px solid #efefef;
}

/*---------------------------------------------callout newsong*/

.callout-newsong {
    background: url(../images/ewan-james-im-sorry-reworked.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: static;
    top: 0;
    left: 0;
}

/*Opaque overlay Code copied from 'Code Institute: Updating Our Callout' lesson source code*/
.callout-newsong-opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.callout-newsong > .callout-newsong-heading {
    color: #fff;
}

.callout-newsong iframe {
    border: 5px solid #2712ab;
    margin: 20px;
}

/*---------------------------------------------footer*/

.owner-designer {
    background:#efefef;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    border-top: 5px solid #2712ab; 
}

