@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    color: #2712ab;
    font-family: 'lato', san-serif;
    background-image: url(../images/guitar-closeup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    position: absolute;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin-top: 20px;
}

/*---------------------------------------------opaque-filter*/

.opaque-filter {
    position: relative;
    top: 0;
    left: 0;
    opacity: rgba(0,0,0, 0.25);
}

/*---------------------------------------------horizontal rule*/

.hr-blue {
    background: transparent;
}

/*---------------------------------------------fixed-header*/

.fixed-header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/*---------------------------------------------brand-container*/

.brand-container {
    background: url(../images/ejm-logo.jpeg) center center / contain;
    height: 50px;
    text-align: center;
}

.brand-container > .brand-container-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 5px solid #2712ab;
    margin: 0;
    border-radius: 50%;
}

.brand-container-circle:hover {
    background: #daa520;
    border: 5px solid #daa520;
}

.brand-container .brand-container-circle-logo {
    height: 50px;
    width: 50px;
    border: 5px solid #2712ab; /*Remove this when border works on circle*/
    padding: 10px;
    border-radius: 50%;
}

/*---------------------------------------------nav-links*/

nav > ul {
    text-align: center;
    font-size: 175%;
    text-transform: uppercase;
    background: #efefef;
    padding: 0;
    border-top: 5px solid #2712ab;
    border-bottom: 5px solid #2712ab;
    margin: 0;
}

nav li {
    display: inline-block;
    letter-spacing: 4px;
    margin: 15px;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: #2712ab;
}

nav a:hover {
    text-decoration: none;
    color: #daa520;
}

.active {
    color: #daa520;
}

/*---------------------------------------------social-media*/

.social-media > ul {
    text-align: center;
    font-size: 40px;
    background: #efefef;
    padding: 0;
    border-bottom: 5px solid #2712ab;
    margin: 0;
}

.social-media li {
    display: inline-block;
    margin: 15px 60px 15px 60px;
    vertical-align: middle;
}

.social-media-icon i {
    color: #2712ab;

}
.social-media-icon i:hover {
    color: #daa520;
}
/*---------------------------------------------welcome*/



/*---------------------------------------------callout-button*/

.btn-primary {
    display: inline-block;
    color: #2712ab;
    background: #2712ab;
    text-align: center;
}

